<div ng-controller="Stats">
	<h1>ADMIN</h1>
	<div>
		<h2>Sales for the month of {{month}}</h2>
		<table>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
			</tr>
			<tr ng-repeat="sale in sales track by $index">
				<td>{{sale.product}}</td>
				<td>{{sale.quantity}}</td>
			</tr>
		</table>
	</div>
	<br />
	<div>
		<h2>Visits</h2>
		<table>
			<tr>
				<th>Date</th>
				<th>IP Address</th>
				<th>Product</th>
				<th>Status</th>
			</tr>
			<tr ng-repeat="visit in visits track by $index">
				<td>{{visit.date}}</td>
				<td>{{visit.ipa}}</td>
				<td>{{visit.product}}</td>
				<td>{{visit.status}}</td>
			</tr>
		</table>
	</div>
	<div>
		<h2>Discount Code New</h2>
		<form ng-controller="Discount" ng-submit="createDiscount()" autocomplete="on">
		<label for="code">New Code:</label>
		<input type="text" name="code" ng-model="code" maxlength="15" pattern="[a-zA-Z0-9]+" required></input>
		<br/>
		<label for="discount">Discount Size:</label>
		<input type="number" min="0" max="50" name="discount" ng-model="discount" required></input>
		<label for="required_spending">Required Spending:</label>
		<input type="number" min="0" max="50" name="required_spending" ng-model="required_spending" required></input>
		<br/>
		<input type="radio" id="total" name="type" value="total" ng-model=type required></input>
		<label for="total">Total</label>
		<input type="radio" id="percent" name="type" value="percent" ng-model="type" required></input>
		<label for="percent">Percent</label>
		<input type="submit" value="CreateDiscount"/>
		</form>
	</div>
</div>