<div ng-controller="Stats">
	<h1>ADMIN</h1>
	<div>
		<h2>Sales for the month of {{month}}</h2>
		<table>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
			</tr>
			<tr ng-repeat="sale in sales track by $index">
				<td>{{sale.product}}</td>
				<td>{{sale.quantity}}</td>
			</tr>
		</table>
	</div>
	<br/>
	<div>
		<h2>Visits</h2>
		<table>
			<tr>
				<th>Date</th>
				<th>IP Address</th>
				<th>Product</th>
				<th>Status</th>
			</tr>
			<tr ng-repeat="visit in visits track by $index">
				<td>{{visit.date}}</td>
				<td>{{visit.ipa}}</td>
				<td>{{visit.product}}</td>
				<td>{{visit.status}}</td>
			</tr>
		</table>
	</div>
</div>