<div ng-controller="CartController as cartCtrl">
        <a href="#/login">Login</a><br/>
    <a href="#/registration">Registration</a><br/>
    <a href="#/admin">Admin</a><br/>
        <a href="#/checkout">Checkout</a><br/>
        <a href="#/cart">Cart</a><br/>
    <h2>Cart</h2>
       <div ng-repeat="items in cart.items">
       <p>{{ items.name }}</p>
       <p>{{ items.price }}</p>
       <p>{{ items.brand }}</p>
       <p><button ng-click="updateQuantity(items, items.amount - 1)">-</button>{{ items.amount }}<button ng-click="updateQuantity(items, items.amount + 1)">+</button></p>
       <button ng-click="removeFromCart(items)">Remove</button>
       </div>
       <button ng-click="clearCart()">Clear cart</button>
    <p>Total Quantity: {{ cart.totalQuantity }}</p>
    <p>Total Price: {{ cart.totalPrice | number:2 }}</p>
</div>