<div ng-controller="CartController as cartCtrl">
    <h2>Cart</h2>
   	<div ng-repeat="items in cart.items">
   	<p>{{ items.name }}</p>
   	<p>{{ items.price }}</p>
   	<p>{{ items.brand }}</p>
   	<p><button ng-click="updateQuantity(items, items.amount - 1)">-</button>{{ items.amount }}<button ng-click="updateQuantity(items, items.amount + 1)">+</button></p>
   	<button ng-click="removeFromCart(items)">Remove</button>
   	</div>
   	<button ng-click="clearCart()">Clear cart</button>
    <p>Total Quantity: {{ cart.totalQuantity }}</p>
    <p>Total Price: {{ cart.totalPrice | number:2 }}</p>
</div>