<body>
	<div ng-controller="ProductsController">
		<table>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Type</th>
				<th>Brand</th>
			</tr>
			<tr ng-repeat="product in products track by $index">
				<td><a href="#/product/{{product.id}}">{{product.name}}</a></td>
				<td>${{product.price}}</td>
				<td>{{product.type}}</td>
				<td>{{product.brand}}</td>
				<td><button ng-click="addToCart(product)">Add to cart</button></td>
			</tr>

		</table>
	</div>

	<hr>
	<div class="searchByType">
		<form ng-submit="searchByType()">
			<input id="type" type="text" ng-model="type" placeholder="Type..." />
			<button type="submit" style="align-self: center;">Search by
				type</button>
		</form>
	</div>

	<hr>
	<div class="searchByBrand">
		<form ng-submit="searchByBrand()">
			<input id="brand" type="text" ng-model="brand" placeholder="Brand..." />
			<button type="submit" style="align-self: center;">Search by
				brand</button>
		</form>
	</div>
</body>
