<!DOCTYPE HTML>
<html ng-app="Group-V_Store">
<head> 
    <title>User Registration</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
	<script src="user.js"></script>
</head>
<body ng-controller="User">
	<form ng-submit="register()">
		<label for="username">Username: </label>
		<input type="text" name="username" ng-model="user.username" required />
		<br/>
		<label for="password">Password: </label>
		<input type="password" name="password" ng-model="user.password" required />
		<br/>
<!-- 			<label for="password2">Retype password: </label>
			<input type="password" name="password2" ng-model="password2" required />
			<br/> -->
		<input type="submit" value="Register" />
	</form>
</body>
</html>