#paymentDetails {
	display: flex;
	flex-direction: column;
}

form input {
	padding: .5rem;
}

form div>div label {
	width: 50%;
}

form {
	display: inline-block;
}

form label {
	display: block;
	width: 50%;
}

button {
	align-self: center;
}

#checkoutCart {
	display: inline-block;
	border: 1px solid black;
	width: 40%;
	padding: 5%;
}

#checkoutWrapper {
	display: flex;
	flex-direction: row;
	gap: 1vh;
	margin: auto;
	border: 1px solid;
	padding: 5%;
}
