#paymentDetails {
	display: flex;
	flex-direction: column;
}

#checkoutForm {
	display: flex;
	flex-direction: column;
	gap: 1vh;
	width: 50%;
	margin: auto;
	border: 1px solid;
	padding: 5%;
}

form input {
	padding: .5rem;
}

form div>div label {
	width: 50%;
}

form label {
	display: block;
	width: 50%;
}

button {
	align-self: center;
}