<!DOCTYPE html>
<html ng-app="Group-V_Store" xmlns:th="https://www.thymeleaf.org">
<head>
<title>Shoppity</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.js"></script>
<script src="checkout.js"></script>
<script src="index.js"></script>

<link rel="stylesheet" href="checkout.css" />
<meta charset="ISO-8859-1">
<title>SHOPPITY: CHECKOUT</title>
</head>
<body>
	<h1>SHOPPITY</h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a>Cart</a></li>
			<li><a href="/products.html">Products</a></li>
			<li><a href="/checkout.html">Checkout</a></li>
			<li><a href="/checkout">Checkout2</a></li>
		</ul>
	</nav>
	<h1>CHECKOUT</h1>
	<form action="#" method="POST" th:action="@{/checkout}"
		th:object="${checkout}" id="checkoutForm">
		<h2>Contact Information</h2>
		<label for="email"><input id="email" type="text"
			placeholder="Email" th:field="*{email}" /></label> <label for="phoneNum"><input
			id="phoneNum" type="text" placeHolder="Phone Number"
			th:field="*{phoneNum}" /></label>
		<h2>Shipping Information</h2>
		<label for="firstName"><input id="firstName" type="text"
			placeHolder="First Name" th:field="*{firstName}" /></label> <label
			for="lastName"><input id="lastName" type="text"
			placeHolder="Last Name" th:field="*{lastName}" /></label> <label
			for="address"><input id="address" type="text"
			placeholder="Address" th:field="*{address}" /></label> <label
			for="optionalAddress"><input id="optionalAddress" type="text"
			placeholder="Apartment, suite, etc... (optional)"
			th:field="*{optionalAddress}" /></label> <label for="city"><input
			id="city" placeholder="City" th:field="*{city}" /></label> <label
			for="postalCode"><input id="postalCode"
			placeholder="Postal Code" th:field="*{postalCode}" /></label>
		<h2>Payment Information</h2>
		<div id="paymentDetails">
			<label for="cardNumber" id="cardDetailLabel">Card
				details</label> <input id="cardNumber" placeholder="1234 1234 1234 1234" />
			<div>
				<label for="cardExp"><input id="cardExp"
					placeholder="MM / YY" th:field="*{cardExp}" /></label> <label for="CVC"><input
					id="CVC" placeholder="CVC" th:field="*{cvc}" /></label>
			</div>
			<label for="cardName">Name on card</label> <input id="cardName"
				th:field="*{cardName}" />
		</div>
		<div id="DiscountCodes">
			<label for="discountCode">Discount Codes</label> <input
				id="discountCode" placeholder="SAVE MONEEEE"
				th:field="*{discountCode}">
		</div>
		<button onclick="e => submitOrder(e);">Process
			order</button>
	</form>
	<div ng-controller="CheckoutController"></div>

</body>
</html>