<!DOCTYPE HTML>
<html ng-app="Group-V_Store">
<head>
<title>Shoppity</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
<script src="product.js"></script>
<link rel="stylesheet" href="checkout.css" />
</head>
<body>
	<h1>SHOPPITY</h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/cart.html">Cart</a></li>
			<li><a href="/products.html">Products</a></li>
			<li><a href="/checkout.html">Checkout</a></li>
			<li><a href="/checkout">Checkout2</a></li>
			<li><a href="#login">Login</a></li>
			<li><a href="#registration">Registration</a></li>
			<li><a href="#admin">Admin</a></li>
		</ul>
	</nav>
	<div ng-controller="ProductController">
		<!-- 		<h1>HERE</h1>
		<p>{{product}}</p> -->

		<table ng-controller="ProductController">
			<tr>
				<td><b>Name: </b></td>
				<td>{{product.name}}</td>
			</tr>
			<tr>
				<td><b>Description: &nbsp &nbsp</b></td>
				<td>{{product.description}}</td>
			</tr>
			<tr>
				<td><b>Type: </b></td>
				<td>{{product.type}}</td>
			</tr>
			<tr>
				<td><b>Brand: </b></td>
				<td>{{product.brand}}</td>
			</tr>
			<tr>
				<td><b>Price: </b></td>
				<td>${{product.price}}</td>
			</tr>
			<tr>
				<td><b>Stock: </b></td>
				<td>{{product.quantity}}</td>
			</tr>
			<tr>
				<td><button ng-click="addToCart(product)">Add to
						Cart</button></td>
			</tr>
		</table>

		<hr />

		<form ng-submit="addReview(product.id)" autocomplete="off">
			<h3>Leave a review!</h3>
			<label>Name: </label> <input type="text" name="name"
				ng-model="review.reviewer" required />
			<p id="reviewerError" class="error"></p>
			<label>Stars: </label> <input type="radio" name="stars"
				ng-model="review.stars" value=1 required /> 1 <input type="radio"
				name="stars" ng-model="review.stars" value=2 /> 2 <input
				type="radio" name="stars" ng-model="review.stars" value=3 /> 3 <input
				type="radio" name="stars" ng-model="review.stars" value=4 /> 4 <input
				type="radio" name="stars" ng-model="review.stars" value=5 /> 5 <br />
			<label>Details (optional): </label><br />
			<textarea name="details" ng-model="review.details" maxlength="250"></textarea>
			<br /> <input type="submit" value="Submit" />
		</form>
		<p id="reviewError" class="error"></p>

		<hr />

		<h3>Read what others have to say about this product!</h3>
		<div ng-repeat="review in reviews track by $index">
			<p>
				<b>{{review.reviewer}}</b> gave {{review.stars}}/5
			</p>
			<p>{{review.details}}</p>
		</div>
	</div>
</body>